<div class="projects">
	<div class="rarwe">
		<img src="/images/rarwe.png">
		<button {{action "showModal" 'rarwe'}}>Rock & Roll with Ember</button>
	</div>
	<div class="project2">
		<img src="/images/array.png">
		<button {{action "showModal" 'array'}}>Array</button>
	</div>
	<div class="project3">
		<img src="/images/library-app.png">
		<button {{action "showModal" 'library'}}>Library App</button>
	</div>

	<div class="project3">
		<img src="/images/portfolio_site.png">
		<button {{action "showModal" 'seedpaths'}}>SeedPaths Portfolio Site</button>
	</div>
</div>
{{#if showModal}}
	{{#modal-dialog close='closeModal' translucentOverlay=true targetAttachment='center'}}
	
	{{#if rarwe}}
		<img src="/images/rarwe.png">
	{{else if library}}
		<img src="/images/library-app.png">
	{{else if array}}
			<img src="/images/array.png">
	{{else}}
		<img src="/images/portfolio_site.png">
	{{/if}}

	<div class="desc">
		{{#if rarwe}}
			<p><b>Ember.JS, Liquid-Fire, Bootstrap</b></p>
			Following along Balint Erdi's "Rock and Roll with Ember.js" book, I built a rock and roll themed app that allows you to view, edit and delete bands. User can also sort and search songs based on user queries.
			<br/>
				<a href="https://github.com/klinda/ember-rarwe" target="_blank"> Github</a> |
				<a href="http://rockandrollwithember.lkhaa.com.lindas-rarwe.pagefrontapp.com/" target="_blank">Demo</a>
		{{else if library}}
				<b>Ember.JS</b>
				<p>Library App using Firebase API and Ember-faker to seed library data.</p>
				<a href="https://github.com/klinda/library-app" target="_blank"> Github</a> |
				<a href="https://lindas-library.firebaseapp.com/" target="_blank">Demo</a>
		{{else if array}}
				<b>Ember.JS, Sass, JavaScript, PHP</b>
				<p>Array has been recently converted from JS to Ember. I took part in the Ember revamp, while working with many user interaction components including form validation, saving slide, saving notes, email validation and updating profile.</p>
		{{else}}
				<b>Javscript, HTML, CSS</b>
				<p>The first portfolio site I built after completing SeedPaths. The site contains projects demonstrating: C#, Angular, HTML, CSS and graphic design.
				</p>
				<a href="http://students.seedpaths.com/linda-kha" target="_blank"> Site</a>
		{{/if}}
	</div>
	{{/modal-dialog}}
{{/if}}