<div class="work">
	<a href="#" {{action "showModal"}}>{{fa-icon "fa-sticky-note"}} Resume</a> |
	<a href="http://www.github.com/klinda" target="_blank">{{fa-icon "github-square"}} Github</a>
</div>

<div class="skills">
	<p>
		Skills:
		<li>- Ember.JS, Javascript/jQuery, HTML {{fa-icon "fa-html5"}}, CSS/SCSS</li>
		<li>- Responsive Design, Adobe Photoshop, Illustrator, MailChimp</li>
		<li>- ScrumMaster Certified</li>
		<li>- C#, MySQL, AngularJS</li>
		<li>- SEO</li>
		<li>- {{fa-icon "fa-question"}} {{fa-icon "fa-question"}} <em>( open-minded to learning new languages )</em> </li>
	</p>
	
	
</div>

{{#if showModal}}
	{{#modal-dialog close='closeModal' translucentOverlay=true targetAttachment='center'}}
		<embed src="/docs/LindaKha-resume-site.pdf" type="application/pdf" width="700px" height="550px">
	{{/modal-dialog}}
{{/if}}